@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>
<table>
    <tr>
        <td>
            <table>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>
<hr />
<p>@Html.ActionLink("Create New Role", "Create", "Role", null, new { @class = "btn btn-primary" })</p>
